body {
    padding: 30px;
    text-align: center;
    margin-bottom: 100px;
}

.title {
    font: Serif;
    text-align: center;
}

.head {
    color: #EEEEEE;
}

.list {
    background-color: #548ca8
}